/* *{
    padding: 0;
    margin: 0;
} */

h1 {
  color: blue;
  background-color: red;
}

hgroup {
  color: brown;
}

span {
  width: 175px;
  display: block;
  float: left;
}

input {
  float: left;
}
p {
  padding-top: 10px;
  clear: all;
}

h2 {
  padding-left: 20px;
  clear: all;
}
label {
  padding-right: 20px;
}
